*.o
*.out
*.class
*.pyc
*.pyo
pycache/

.idea/
*.iml
.project
.classpath
.settings/
.vscode/
nbproject/private/
build/
dist/

Thumbs.db
Desktop.ini
.DS_Store

*.log
*.tmp
*.swp
*.bak
*.orig

node_modules/
venv/
env/
target/
*.jar
*.war
*.gem
vendor/bundle/
bin/
obj/